body {
  background-color: #D9D9D9;
}

.App {
  max-width: 860px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  background: none;
  border: 2px solid #000000;
  padding: 6px 12px;
  margin: 0 5px 0 5px;
  border-radius: 4px;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background: #F1D95B;
}

.card-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

h1 {
  text-align: center;
  margin: 0;
}

h3 {
  text-align: center;
}

.button {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

p {
  text-align: center;
  font-weight: 700;
}

.players {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 20px;
}

.player {
  display: flex;
  border: 2px solid transparent;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
}

.player input {
  background-color: #f2efef;
  text-align: center;
  font-size: 1em;
  padding: 5px;
  margin: 10px auto;
  border-radius: 10px;
  border: none;
  border: 2px solid #F1D95B;
}

.player p {
  margin: 10px;
  padding: 5px;
}

.player.active {
  border-color: #000000;
}

.card {
  position: relative;
}

.card img {
  width: 100%;
  display: block;
  border-radius: 6px;
}

.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

.card-number {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 24px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
  pointer-events: none;
}
